<%
  heading_size = 'h3' if heading_size.blank?
  # right now there is only one notice type, so this isn't really necessary
  notice_type = institution_notice['institution_notice_code']
%>
<div class="row">
  <div class="col-sm-12 institution_notices">
    <<%= heading_size %>><%= I18n.t("institution_notice_title.#{notice_type}", :default => "Attribution Incomplete") %></<%= heading_size %>>
    <div class="institution-notice-img">
      <%= image_tag(AppConfig[:public_proxy_url] + "/assets/LC-Institution-Notice-Attribution-Incomplete_2021-10-23.svg", alt: "Attribution Incomplete notice") %>
    </div>
    <div class="institution-notice-text">
      <p><%= t("institution_notice_description.#{notice_type}") %></p>
      <p><%= t("institution_notice_local_contexts_more_html") %></p>
    </div>
  </div>
</div>
