<h2>
   <%= @form_title ? @form_title : @local_contexts_project.project_name.blank? ? "#{I18n.t("actions.new_prefix")} #{I18n.t("local_contexts_project._singular")}" : clean_mixed_content( @local_contexts_project.project_name)  %>  <span class="label label-info"><%= I18n.t("local_contexts_project._singular") %></span>
</h2>

<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @local_contexts_project, :form => form} %>

<% define_template "local_contexts_project", jsonmodel_definition(:local_contexts_project) do |form| %>
  <fieldset>
    <section id="local-contexts-project-information">
      <%= form.label_and_textfield "project_id" %>
      <%= form.label_and_textfield "project_name" %>
      <%= form.label_and_boolean "project_is_public" %>
    </section>
  </fieldset>
<% end %>
<% form.emit_template("local_contexts_project") %>

<%= form_plugins_for("local_contexts_project", form) %>
