<div id="template_local_context_data"><!--
  <div class="lc-project-data-container">
    <h4>${label.name}</h4>
    <p>
      <img class="local-context-image" src="${label.img_url}" />
      <span class="local-context-description">
        ${label.default_text}
        <span class="local-context-placed-by">
          <span class="local-context-placed-by-label"><%= I18n.t("local_contexts_project.placed_by_txt") %></span> ${label.community}
        </span>
        {if label.translations && label.translations.length > 0}
          <span class="local-context-translation-toggle btn btn-xs btn-default"><%= I18n.t("local_contexts_project.translations_toggle") %></span>
          {for translation in label.translations}
            <span class="local-context-translation-wrapper well">
              {if translation.language.length > 0}
                <span class="local-context-translation-title">${translation.title}</span>
              {/if}
              {if translation.language.length > 0}
                <span class="local-context-translation-language">(${translation.language})</span>
              {/if }
              {if translation.translation.length > 0}
                <span class="local-context-translation-translation">${translation.translation}</span>
              {/if}
            <span>
          {/for}
        {/if}
      </span>
    </p>
  </div>
--></div>

<div id="template_local_context_error"><!--
  <div class="lc-project-fetch-error">
    <h4><%= I18n.t("local_contexts_project.fetch_error.title") %></h4>
    <p>
      <%= I18n.t("local_contexts_project.fetch_error.message") %>: <b>${id})</b>. <%= I18n.t("local_contexts_project.fetch_error.message_append") %>
    </p>
  </div>
--></div>
