<%= javascript_include_tag("embedded_search") %>
<%= javascript_include_tag "#{AppConfig[:frontend_proxy_prefix]}assets/local_contexts_projects_show.js" %>

<%= setup_context :object => @local_contexts_project, :title => @local_contexts_project.project_name %>

<div class="d-flex">
   <div class="col-md-3">
     <%= render_aspace_partial :partial => "sidebar" %>
   </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <section id="basic-information">
        <div class="readonly-context form-horizontal">
          <h2><%= @local_contexts_project.project_name %>  <span class="label label-info"><%= I18n.t("local_contexts_project._singular") %></span><a class="btn btn-sm btn-default ml-auto" id="fetch-local-contexts-data"><%= I18n.t('local_contexts_project.fetch_btn') %></a></h2>
          <%= readonly_context :local_contexts_project, @local_contexts_project do |readonly| %>
            <%= readonly.label_and_textfield "project_id" %>
            <%= readonly.label_and_textfield "project_name" %>
            <%= readonly.label_and_boolean "project_is_public" %>
          <% end %>
          <div id="local-contexts-data-holder" class=""></div>
          <%= render_aspace_partial :partial => "search/embedded", :locals => {
            :filter_term => {"local_contexts_project_uris_u_sstr" => @local_contexts_project.uri}.to_json,
            :section_id => "linked_local_contexts_projects",
            :heading_text => I18n.t("local_contexts_project._frontend.section.search_embedded")
          } %>
          </div>
        </section>
    </div>
  </div>
</div>
<%= javascript_tag "new LocalContexts('single');" %>
