<div id="template_local_context_data"><!--
  {if label.language_tag != '' && label.language_tag != main_language}
    <div class="lc-project-data-container" lang="${label.language_tag}">
  {else}
    <div class="lc-project-data-container">
  {/if}
    <h4>${label.name}</h4>
    <p>
      <img class="local-contexts-image" src="${label.img_url}" />
      <span class="local-contexts-description">
        {if label.audiofile && label.audiofile.length > 0}
          <span class="local-contexts-audio">
            <audio controls>
              <source src="${label.audiofile}" />
              Your browser does not support HTML5 audio. Here is a <a href="${label.audiofile}">link to the audio</a> instead.
            </audio>
          </span>
        {/if}
        ${label.label_text}
        {if label.community && label.community.length > 0}
          <span class="local-contexts-placed-by">
            <span class="local-contexts-placed-by-label"><%= I18n.t("local_contexts_project.placed_by_txt") %></span> ${label.community}
          </span>
        {/if}
        {if label.translations && label.translations.length > 0}
          <span class="local-contexts-translation-toggle btn btn-xs btn-default"><%= I18n.t("local_contexts_project.translations_toggle") %></span>
          {for translation in label.translations}
            {if translation.language_tag != '' && translation.language_tag != label.language_tag}
              <span class="local-contexts-translation-wrapper well" lang="${translation.language_tag}">
            {else}
              <span class="local-contexts-translation-wrapper well">
            {/if}
              {if translation.translated_name.length > 0}
                <span class="local-contexts-translation-title">${translation.translated_name}</span>
              {/if}
              {if translation.language.length > 0}
                <span class="local-contexts-translation-language">(${translation.language})</span>
              {/if }
              {if translation.translated_text.length > 0}
                <span class="local-contexts-translation-translation">${translation.translated_text}</span>
              {/if}
            <span>
          {/for}
        {/if}
      </span>
    </p>
  </div>
--></div>

<div id="template_local_context_error"><!--
  <div class="lc-project-fetch-error">
    <h4><%= I18n.t("local_contexts_project.fetch_error.title") %></h4>
    <p>
      <%= I18n.t("local_contexts_project.fetch_error.message") %>: <b>${id})</b>. <%= I18n.t("local_contexts_project.fetch_error.message_append") %>
    </p>
  </div>
--></div>

<div id="template_local_context_reset_cache_title"><!--
  <%= I18n.t("local_contexts_project._cache_reset.title") %>
--></div>

<div id="template_local_context_reset_cache_contents"><!--
  {if ($.isEmptyObject(project_ids))}
    <div class="alert alert-info"><%= I18n.t("local_contexts_project._cache_reset.no_projects") %></div>
  {else}
    <h4><%= I18n.t("local_contexts_project._cache_reset.project_titles") %></h4>
    {if (open_to_collaborate)}
      <div class="reset-local-contexts-cache-list">
        <div class="reset-local-contexts-cache-list-item">
          <span class="local-contexts-pid">Open To Collaborate Notice</span>
          <button class="btn btn-sm btn-primary reset-local-contexts-cache-btn">
            <a id="open_to_collaborate" href="<%= url_for :controller => :local_contexts_projects, :action => :reset_cache %>">
              <%= I18n.t("local_contexts_project._cache_reset.reset_one") %>
            </a>
          </button>
        </div>
      </div>
    {/if}
    {for pid in project_ids}
      <div class="reset-local-contexts-cache-list">
        <div class="reset-local-contexts-cache-list-item">
          <span class="local-contexts-pid">${pid.id} : ${pid.title}</span>
          <button class="btn btn-sm btn-primary reset-local-contexts-cache-btn">
            <a id="${pid.id}" href="<%= url_for :controller => :local_contexts_projects, :action => :reset_cache %>">
              <%= I18n.t("local_contexts_project._cache_reset.reset_one") %>
            </a>
          </button>
        </div>
      </div>
    {/for}
  {/if}
--></div>

<div id="template_local_context_reset_cache_footer"><!--
<div class="modal-footer">
<%= form_for :job, :url => {:controller => :jobs, :action => :create} do |f| %>
    <%= f.hidden_field :jsonmodel_type, :value => "local_contexts_projects_refresh_cache_job" %>
    <%= f.hidden_field :job_type, :value => 'local_contexts_projects_refresh_cache_job' %>
    <%= f.submit I18n.t("local_contexts_project._cache_reset.reset_all"), :class => "btn  btn-primary" %>
<% end %>
<button class="btn btn-default pull-right" data-dismiss="modal"><%= I18n.t("actions.close") %></button>
</div>
--></div>

<div id="template_local_context_reset_cache_success"><!--
  <span class="local-contexts-reset-cache-success"><%= I18n.t("local_contexts_project._cache_reset.success") %></span>
--></div>

<div id="template_local_context_reset_cache_error"><!--
  <span class="local-contexts-reset-cache-error"><%= I18n.t("local_contexts_project._cache_reset.error") %></span>
--></div>
