<!-- aspace tk labels -->
<%= javascript_include_tag "#{AppConfig[:frontend_proxy_prefix]}assets/subrecord.crud.js" %>
<%= javascript_include_tag "#{AppConfig[:frontend_proxy_prefix]}assets/form.js" %>

<%= setup_context(:object => @local_context_project, :title => @local_context_project.project_name) %>

<%= form_for @local_context_project, :as => "local_context_project", :url => {:action => :update}, :html => {:class => 'form-horizontal aspace-record-form', :id => "local_context_project_form"}.merge(update_monitor_params(@local_context_project)) do |f| %>
  <%= form_context :local_context_project, @local_context_project do |form| %>
    <div class="row">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "sidebar" %>
      </div>

      <div class="col-md-9">
        <%= render_aspace_partial :partial => "local_context_projects/toolbar" %>
        <div class="record-pane">
          <h2><%= I18n.t('local_context_project._frontend.form_header', :display_string => @local_context_project.project_name) %> <span class="label label-info"><%= I18n.t("local_context_project._singular") %></span></h2>
          <input type="hidden" name="_method" value="put" />
          <%= render_aspace_partial :partial => "local_context_projects/form", :locals => {:form => form} %>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary"><%= I18n.t("local_context_project._frontend.action.save") %></button>
            <%= link_to I18n.t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
          </div>

        </div>
      </div>
    </div>
  <% end %>
<% end %>
